.cy_bike_list_tab_inner{
    background-color: #fff;
    margin-bottom: 30px;
    .card-header{
        background-color: #fff;
        border-bottom: 0px solid transparent;
        padding: 25px 80px 25px 120px;
        
        @media #{$tab}{
            padding: 25px;
        }
        @media #{$medium_device}{
            padding: 25px;
        }
        .btn{
            font-size: 45px;
            padding: 0;
            text-align: left;
            position: relative;
            z-index: 1;
            display: block;
            width: 100%;
            @media #{$tab}{
                font-size: 20px;
            }
            @media #{$medium_device}{
                font-size: 20px;
            }
            &:focus{
                border: 0px solid transparent;
            }
            &:after{
                position: absolute;
                content: "\e622";
                right: 0;
                top: 30%;
                transform: translateY(-50%);
                width: 40px;
                height: 40px;
                color: #26253b;
                font-family: 'themify';
                @media #{$tab}{
                    height: 20px;
                }
                @media #{$medium_device}{
                    height: 20px;
                }
            }
            &.collapsed{
                &:after{
                    content: "\e61a";
                }
            }
        }
    }
    .card-body{
        padding: 0 55px 55px;
        @media #{$tab}{
            padding: 0 25px 25px;
        }
        @media #{$medium_device}{
            padding: 0 25px 25px;
        }
    }
    .bike_list_tab_content{
        @media #{$tab}{
            margin-top: 20px;
        }
        @media #{$medium_device}{
            margin-top: 20px;
        }
    }
    .bike_list_tab_inner{
        display: flex;
        align-items: center;
        margin-bottom: 23px;
        &:last-child{
            margin-bottom: 0;
        }
        .title{
            flex: 30% 0 0;
            text-align: right;
            margin-bottom: 0;
            font-size: 35px;
            color: #1f1e35;
            @media #{$tab}{
                font-size: 20px;
            }
            @media #{$medium_device}{
                font-size: 20px;
            }
        }
        .desc{
            padding-left: 80px;
            color: #878c9a;
            font-size: 35px;
            font-family: $bebas_font;
            @media #{$tab}{
                font-size: 20px;
            }
            @media #{$medium_device}{
                font-size: 20px;
            }
        }
    }
}