.cy_store_breadcrumb_part {
    &.style_01{
        @include background("../img/store_banner_bg.png");
        position: relative;
        .swiper-slide{
            width: 100%;
        }
        .breadcrumb_content {
            height: 800px;
            display: flex;
            align-items: center;
            justify-content: center;
            @media #{$mobile}{
                height: 600px;
            }
            @media #{$tab_device}{
                height: 600px;
            }
        }
    
        .product_tricker {
            height: 140px;
            width: 140px;
            border-radius: 50%;
            background-color: #26253b;
            color: #fff;
            font-size: 30px;
            font-family: $bebas_font;
            text-align: center;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1;
            position: absolute;
            left: 100px;
            top: 100px;
            @media #{$mobile}{
                height: 70px;
                width: 70px;
                color: #fff;
                font-size: 14px;
                font-family: $dm_sans;
                padding: 10px;
                left: 15px;
                top: 15px;
                line-height: 16px;
            }
        }
        .breadcrumb_content_inner {
            position: absolute;
            right: 55px;
            top: 55px;
            @media #{$mobile}{
                position: absolute;
                right: auto;
                top: 105px;
                left: 15px;        
            }
        }
    
        .swiper-pagination {
            position: absolute;
            top: 50%;
            right: 13%;
            display: grid;
            text-align: left;
            @media #{$mobile}{
                top: 15px;
                right: 15px;
            }
            @media #{$tab_device}{
                top: 15px;
                right: 15px;
            }
            @media #{$medium_device}{
                top: 15px;
                right: 15px;
            }
            @media #{$big_screen}{
                top: 15px;
                right: 15px;
            }
        }
        .swiper-pagination-bullet {
            width: auto;
            height: 30px;
            font-size: 12px;
            position: relative;
            opacity: 1;
            @include transform_time(.3s);
            &:after{
                position: absolute;
                content: "";
                width: 13px;
                height: 13px;
                border: 2px solid transparent;
                top: 7px;
                left: -26px;
                background-color: #878c9a;
                @include transform_time(.3s);
            }
            &:hover{
                &:after{
                    border: 2px solid #fff;
                    background-color: transparent;
                }
            }
        }
        .swiper-pagination-bullet-active {
            &:after{
                border: 2px solid #fff;
                background-color: transparent;
            }
        }
        .cart_product{
            display: flex;
            align-items: center;
            position: absolute;
            left: 51%;
            bottom: 0;
            @media #{$mobile}{
                left: 20%;
            }
            .cu_btn{
                padding: 14px 26px;
                line-height: 18px;
                
            }
            
            .popup_product_count{
                input {
                    padding: 11px 15px;
                    line-height: 0;
                    background-color: #26253b;
                    border: 2px solid #26253b;
                    color: #fff;
                    text-align: center;
                }
                .cart-qty-plus, .cart-qty-minus{
                    position: relative;
                    border: 0px solid transparent;
                    
                }
            } 
        }
    }
    &.style_02{
        position: relative;
        .breadcrumb_content {
            position: relative;
            height: 800px;
            background-color: #ffdfe0;
            @media #{$mobile}{
                min-height: 600px;
                height: auto;
            }
            @media #{$tab_device}{
                display: flex;
                align-items: center;
                height: 600px;
            }
            @media #{$big_device}{
                display: flex;
                align-items: center;
            }
        }
        .product_tricker {
            height: 140px;
            width: 140px;
            border-radius: 50%;
            background-color: #26253b;
            color: #fff;
            font-size: 30px;
            font-family: $bebas_font;
            text-align: center;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 100px;
            z-index: 9;
            @media #{$tab}{
                height: 70px;
                width: 70px;
                color: #fff;
                font-size: 14px;
                font-family: $dm_sans;
                padding: 10px;
                left: 15px;
                top: 15px;
                line-height: 16px;
                margin: initial;
            }
        }
        .breadcrumb_content_inner {
            padding: 100px;
            max-width: 50%;
            @media #{$tab}{
                padding: 30px;
                max-width: 100%;
            }
            @media #{$medium_device}{
                padding: 30px;
            }
            .product_name{
                font-size: 50px;
                margin-bottom: 12px;
                @media #{$tab}{
                    font-size: 30px;
                }
            }
            .desc{
                color: #26253b;
                font-size: 17px;
            }
            .product_price{
                font-size: 20px;
                font-family: $dm_sans;
                margin-top: 52px;
                @media #{$tab}{
                    margin-top: 20px;
                }
            }
            .cart_product {
                margin-top: 36px;
                @media #{$tab}{
                    margin-top: 15px;
                }
            }
            .cu_btn{
                font-family: $dm_sans;
                line-height: 18px;
            }
            .cy_social_icon{
                position: absolute;
                bottom: 100px;
                @media #{$mobile}{
                    position: relative;
                    bottom: auto;
                    margin-top: 25px;
                }
                i{
                    color: #ffa11b;
                    margin-right: 5px;
                    font-size: 14px;
                }
            }
        }
        .breadcrumb_product_thumb{
            position: absolute;
            right: 0;
            bottom: -100px;
            background-color: #ffde28;
            padding: 46px 84px;
            top: 0;
            @media #{$mobile}{
                position: relative;
                img{
                    max-width: 60%;
                }
            }
            @media #{$tab_device}{
                max-width: 50%;
                padding: 40px 30px;
            }
            @media #{$medium_device}{
                padding: 40px 30px;
                max-width: 50%;
            }
        }
        .cy_social_link{
            @media #{$tab}{
                display: none;
            }
        }
    }
    &.style_03{
        position: relative;
        .breadcrumb_content {
            position: relative;
            height: 800px;
            @media #{$mobile}{
                min-height: 600px;
                height: auto;
            }
            @media #{$tab_device}{
                display: flex;
                align-items: center;
                height: 490px;
            }
            @media #{$big_device}{
                display: flex;
                align-items: center;
            }
        }
        .product_tricker {
            height: 140px;
            width: 140px;
            border-radius: 50%;
            background-color: #26253b;
            color: #fff;
            font-size: 30px;
            font-family: $bebas_font;
            text-align: center;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1;
            position: absolute;
            left: 50px;
            bottom: 50px;
            z-index: 9;
            @media #{$tab}{
                height: 70px;
                width: 70px;
                color: #fff;
                font-size: 14px;
                font-family: $dm_sans;
                padding: 10px;
                left: 15px;
                top: 15px;
                line-height: 16px;
                margin: initial;
            }
        }
        .breadcrumb_content_inner {
            padding: 100px;
            width: 43%;
            background-color: #1e1e30;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            @media #{$tab}{
                padding: 30px;
                width: 100%;
                position: relative;
            }
            @media #{$mobile}{
                transform: translateY(0%);
            }
            @media #{$tab_device}{
                top: auto;
                transform: translateY(0%);
            }
            @media #{$medium_device}{
                padding: 30px;
                width: 50%;
            }
            .product_name{
                font-size: 50px;
                margin-bottom: 12px;
                color: #fff;
                @media #{$tab}{
                    font-size: 30px;
                }
            }
            .desc{
                color: #ffffff;
                font-size: 17px;
            }
            .product_price{
                font-size: 20px;
                font-family: $dm_sans;
                margin-top: 52px;
                color: #ffffff;
                @media #{$tab}{
                    margin-top: 20px;
                }
            }
            .cart_product {
                margin-top: 36px;
                @media #{$tab}{
                    margin-top: 15px;
                }
            }
            .cu_btn{
                font-family: $dm_sans;
                padding: 16px 26px;
                line-height: 20px;
                color: $heading_color;
                &:hover{
                    background-color: $base_color;
                    border: 2px solid $base_color;
                    color: #fff;
                }
            }
            .cy_social_icon{
                margin-top: 70px;
                i{
                    color: #ffa11b;
                    margin-right: 5px;
                    font-size: 14px;
                }
            }
        }
        .breadcrumb_product_thumb{
            background-color: #f6d192;
            padding: 40px 84px;
            width: 60%;
            @media #{$tab}{
                width: 100%;
                padding: 40px 30px;
            }
            @media #{$tab_device}{
                padding: 40px 30px;
            }
            @media #{$medium_device}{
                padding: 40px 30px;
                width: 50%;
            }
        }
        .cy_social_link{
            @media #{$tab}{
                display: none;
            }
        }
    }
}

//contact page breadcrumb css
.cy_contact_breadcrumb_wrapper{
    &.style_01{
        @media #{$mobile}{
            min-height: 500px;
        }
        @media #{$tab_device}{
            min-height: 600px;
        }
        position: relative;
        .bredcrumb_thumb{
            border-radius: 250px 0 0 0;
        }
        .cy_contact_breadcrumb_inner{
            max-width: 60%;
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: $base_color;
            padding: 43px 55px;
            @media #{$tab}{
                max-width: 100%;
                padding: 20px;
                .cy_contact_breadcrumb_icon{
                    margin-bottom: 20px;
                }
            }
            @media #{$medium_device}{
                max-width: 80%;
            }
        }
        .cy_contact_breadcrumb_content{
            padding-left: 60px;
            @media #{$tab}{
                padding-left: 0;
            }
        }
        .title{
            font-size: 55px;
            color: $white;
            margin-bottom: 12px;
            @media #{$tab}{
                font-size: 25px;
            }
        }
        .desc{
            color: $white;
        }
    }
    &.style_02{
        @media #{$mobile}{
            min-height: 100%;
        }
        @media #{$tab_device}{
            min-height: 100%;
        }
        position: relative;
        .cy_contact_breadcrumb_inner{
            max-width: 60%;
            position: absolute;
            bottom: -120px;
            right: 0;
            background-color: $white;
            padding: 43px 100px 86px;
            @media #{$mobile}{
                max-width: 100%;
                padding: 20px;
                bottom: 0px;
                background-color: #f7b500;
                position: relative;
            }
            @media #{$tab_device}{
                max-width: 100%;
                padding: 20px;
                bottom: 0px;
                background-color: #f7b500;
                position: relative;
                .cy_contact_breadcrumb_icon{
                    margin-bottom: 20px;
                }
            }
            @media #{$medium_device}{
                max-width: 80%;
            }
        }
        .title{
            font-size: 55px;
            margin-bottom: 12px;
            @media #{$tab}{
                font-size: 25px;
            }
        }
    }
    &.style_03{
        @media #{$mobile}{
            min-height: 400px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        @media #{$tab_device}{
            min-height: 600px;
        }
    }
}

//about page breadcrumb css
.cy_about_breadcrumb_inner{
    padding: 200px 50px 190px 80px;
    background-color: #ffdcc7;
    position: relative;
    z-index: 2;
    @media #{$mobile}{
        padding: 62px 20px 60px 20px;
    }
    @media #{$tab_device}{
        padding: 62px 20px 60px 20px;
    }
    
    .sub_title{
        font-size: 14px;
        font-family: $dm_sans;
        color: rgb(135, 140, 154);
        text-transform: uppercase;
        margin-bottom: 15px;
        
    }
    .title{
        font-size: 65px;
        color: rgb(31, 30, 53);
        text-transform: uppercase;
        line-height: 1.077;
        @media #{$tab}{
            font-size: 35px;
        }
        @media #{$medium_device}{
            font-size: 40px;
        }
    }
}
.about_section_breadcrumb{
    position: relative;
    .about_breadcrumb_shape{
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        @media #{$tab}{
            display: none;
        }
        @media #{$medium_device}{
            max-width: 67%;
        }
    }
}


//blog page breadcrumb css
.blog_breadcrumb_part{
    &.sec_padding{
        padding: 110px 0 222px;
        @media #{$tab}{
            padding: 70px 0;
        }
        @media #{$medium_device}{
            padding: 80px 0;
        }
    }
}

.cy_blog_breadcrumb_wrapper{
    &.blog_breadcrumb_style_01{
        position: relative;
        .bredcrumb_thumb{
            position: absolute;
            top: 0;
            left: 0;
            @media #{$tab}{
                position: relative;
            }
            @media #{$medium_device}{
                position: relative;
            }
        }
        .cy_blog_breadcrumb_inner{
            padding-left: 40px;
            margin-top: 50px;
            @media #{$tab}{
                padding-left: 0;
            }
            @media #{$medium_device}{
                padding-left: 0;
            }
        }
        .title{
            a{
                color: $heading_color;
                &:hover{
                    color: $base_color;
                }
            }
        }
        .desc{
            color: #878c9a;
            font-size: 17px;
            line-height: 30px;
            margin-top: 20px;
        }
        .cu_btn{
            margin-top: 59px;
            @media #{$tab}{
                margin-top: 30px;
            }
            @media #{$medium_device}{
                margin-top: 30px;
            }
        }
    }
    .cy_blog_breadcrumb_thumb{
        @media #{$medium_device}{
            display: none;
        }
    }
    &.blog_breadcrumb_style_02{
        position: relative;
        .cy_blog_breadcrumb_inner{
            position: absolute;
            top: 0;
            left: 0;
            max-width: 50%;
            background-color: $base_color_5;
            padding: 150px 120px ;
            z-index: 2;
            @media #{$tab}{
                max-width: 100%;
                background-color: #ffde28;
                padding: 80px 40px;
                z-index: 2;
                position: relative;
            }
            @media #{$medium_device}{
                max-width: 100%;
                background-color: #ffde28;
                padding: 80px 40px;
                z-index: 2;
                position: relative;
            }
            @media #{$big_screen}{
                padding: 40px 30px;
            }
            @media #{$extra_big_screen}{
                padding: 40px 30px;
            }
        }
        .cy_post_meta{
            font-size: 16px;
            font-weight: 400;
            color: #1f1e35;
            margin-bottom: 20px;
            .post_date{
                font-weight: 500;
            }
        }
        .title{
            font-size: 45px;
            a{
                color: $heading_color;
                &:hover{
                    color: $base_color;
                }
            }
        }
        .desc{
            color: #26253b; 
            font-size: 17px;
            line-height: 30px;
            margin-top: 20px;
        }
        .cu_btn{
            margin-top: 56px;
            font-family: $dm_sans;
        }
        .swiper_navigation{
            position: absolute;
            left: 25%;
            bottom: 45px;
            display: flex;
            align-items: center;
            z-index: 8;
            .swiper_button_prev, .swiper_button_next{
                margin: 0 15px;
                cursor: pointer;
                i{
                    font-size: 40px;
                    color: #e5e2da;
                    @include transform_time(.3s);
                    &:hover{
                        color: #040300;
                    }
                }
            }
        }
    }
}

.cy_post_meta{
    display: flex;
    align-items: center;
    margin-bottom: 22px;
    p,a{
        font-size: 16px;
        color: #1f1e35;
    }
    span{
        color: #1f1e35;
        margin: 0 5px;
    }
}
.cy_store_breadcrumb_part {
    .popup_product_count{
        position: relative;
        .cart-qty-plus, .cart-qty-minus{
            border: 0px solid transparent;
            position: absolute !important;
            top: 40%;
            transform: translateY(-50%);
            left: 5px;
            right: auto;
            &:after{
                position: absolute;
                content: "";
                width: 14px;
                height: 14px;
                font-family: "themify";
                color: #5f5e6f;
                font-size: 14px;
                
            }
        }
        .cart-qty-plus{
            left: auto;
            right: 21px;
            top: 28%;
            &:after{
                content: "\e649";
            }
        }
    } 
    .heart_btn{
        width: 60px;
        min-width: auto;
        padding: 11px !important;
        line-height: 0;
        border: 2px solid #fff;
        background-color: #fff;
        line-height: 19px !important;
        i{
            color: $base_color;
            font-size: 20px;
        }
        &:hover{
            border: 2px solid $base_color;
            i{
                color:#fff;
            }
        }
    }
    &.style_02, &.style_03{
        .popup_product_count input{
            text-align: center;
            padding: 14px;
            background-color: #ffde28;
            border: 2px solid #ffde28;
            color: #fff;
            
        }
        .heart_btn{
            padding: 14px !important;
            &:hover{
                border: 2px solid $base_color;
                i{
                    color:#fff;
                }
            }
        }
        
        .popup_product_count .cart-qty-minus {
            top: 42%;
        }
    }
    
}
.cart-qty-plus, .cart-qty-minus{
    cursor: pointer;
    
}
