.cy_counter_section_wrapper{
    text-align: center;
    img{
        margin-bottom: 43px;
    }
    .counter_number{
        font-size: 50px;
    }
    .desc{
        font-size: 17px;
    }
}
//counter info section
.cy_contact_info_wrapper{
    text-align: center;
    img{
        margin-bottom: 60px;
    }
    .title{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .desc{
        display: inline-block;
        color: #878c9a;
    }
}