/******** header css here *********/
.header_part {
    position: relative;
    z-index: 999;
    .navbar-toggler {
        padding: 0px;
        border: 0px;
        margin: 0 0 0 20px;
    }

    .navbar-brand {
        padding: 0;
        margin: 0;
    }
    .header_right_option {
        display: flex;
        align-items: center;
        margin-left: 110px;
        @media #{$tab}{
            margin-left: 0;
        }
        .burger_icon {
            position: relative;
            width: 24px;
            height: 13px;
            color: $white;
        }
        .cart_option {
            position: relative;
            z-index: 99;
            
            .cart_content {
                position: relative;
                z-index: 1;
                background-color: #ed1c16;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                text-align: center;
                line-height: 60px;
                .cart_count {
                    font-size: 10px;
                    color: #fff;
                    border-radius: 50%;
                    line-height: 1;
                    position: absolute;
                    top: 15px;
                    right: 15px;
                }
            }
            .cart_icon {
                max-width: 30px;
                cursor: pointer;
                &.white_img{
                    -webkit-filter: brightness(0) invert(1);
                    filter: brightness(0) invert(1);
                }
            }

            .cart_item_list {
                position: absolute;
                width: 350px;
                right: 0;
                background-color: $white;
                box-shadow: 0 10px 20px rgba($color: #000, $alpha: .1);
                padding: 25px 20px;
                opacity: 0;
                visibility: hidden;
                transform: translateY(30px);
                @include transform_time(.3s);
                z-index: 99;

                @media #{$mobile} {
                    width: 310px;
                    right: -70px;
                }
            }

            .single_cart_product {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
                position: relative;
                align-items: flex-start;

                .cart_img {
                    flex: 25% 0 0;
                    display: inline-block;
                }

                i {
                    font-size: 16px;
                    margin-left: 15px;
                }

                .cart_content_inner {
                    flex: 65% 0 0;
                    padding-left: 15px;

                    h4 {
                        font-size: 16px;
                        font-weight: 500;
                        margin-bottom: 5px;

                        a {
                            color: $heading_color;

                            &:hover {
                                color: $base_color;
                            }
                        }
                    }

                    p {
                        font-size: 16px;
                    }

                    i {
                        font-size: 10px;
                        margin-left: 0;
                    }
                }

                i {
                    flex: 7% 0 0;
                    cursor: pointer;
                }

                img {
                    max-width: 80px;
                }
            }

            h5 {
                text-transform: capitalize;
                font-size: 15px;
                color: $heading_color;
                margin-bottom: 20px;
                text-align: right;
                border-top: 1px solid $border_color;
                padding-top: 25px;
                margin-top: 10px;
                
                font-weight: 300;

                span {
                    color: $heading_color;
                    font-weight: 700;
                    float: left;
                    color: #888;
                    font-size: 18px;
                }
            }

            .cart_option_btn {
                .cu_btn {
                    min-width: auto;
                    margin-right: 10px;
                    padding: 14px 29px;
                    @media #{$mobile}{
                        margin-right: 10px;
                        padding: 10px 21px;
                        font-size: 12px;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            &:hover {
                .cart_item_list {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(10px);
                }
            }
        }
    }

    .social_icon {
        a {
            color: $white;
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .border_bottom {
        border-bottom: 1px solid rgba(255, 255, 255, .2);
    }

    &.classic_header {
        @media #{$tab} {
            padding: 20px 0;
        }
        @media #{$medium_device} {
            padding: 30px 0;
        }

        @media #{$big_screen} {
            .navbar-nav {
                padding-left: 60px;
            }
        }

        &.menu_padding {
            padding: 0 45px;

            @media #{$xs_mobile} {
                padding: 20px 0;
            }

            @media #{$large_mobile} {
                padding: 20px 20px;
            }

            @media #{$tab_device} {
                padding: 20px 20px;
            }

            @media #{$big_device} {
                .navbar .nav-link {
                    padding: 40px 0;
                }
            }
        }

        .navbar {
            padding: 0;

            .navbar-brand {
                @media #{$tab} {
                    img {
                        max-width: 100px;
                    }
                }
            }

            .nav-link {
                display: inline-block;
                margin: 48px 30px;
                text-transform: uppercase;
                font-size: 16px;
                color: $white;
                font-weight: 500;
                position: relative;
                z-index: 1;
                padding: 6px 2px;
                line-height: 14px;
                @media #{$tab} {
                    display: block;
                    padding: 15px 5px;
                    margin: 0 20px;
                }

                @media #{$medium_device} {
                    padding: 35px 5px;
                    margin: 0 6px;
                }
            }

            .dropdown-menu {
                margin: 0;
                padding: 25px;
                border: 0px solid transparent;
                box-shadow: 0px 5px 10px #14303a15;
                @include transform_time(.4s);
                transition: all 0.3s linear;
                -webkit-box-shadow: 0 2px 29px rgba(0, 0, 0, .05);
                -moz-box-shadow: 0 2px 29px rgba(0, 0, 0, .05);
                box-shadow: 0 2px 29px rgba(0, 0, 0, .05);
                border-radius: 0;
                @media (min-width: 991px) {
                    display: block;
                    transform: scale(1);
                    visibility: hidden;
                    opacity: 0;
                    min-width: 200px;
                    margin-top: 20px;

                    .dropdown-menu {
                        left: 100%;
                        top: -15px;
                    }
                }
                @media #{$tab} {
                    padding: 0;
                }
                li{
                    margin-bottom: 12px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
                .dropdown-item {
                    padding: 13px 25px;
                    font-size: 14px;
                    color: #26253b;
                    font-weight: 400;
                    display: inline-block;
                    background-color: #eeeeee;
                    text-transform: uppercase;

                    text-align: center;

                    &.current {
                        color: $heading_color;
                    }
                    &.disable{
                        pointer-events: none;
                        span{
                            font-size: 10px;
                            color: $base_color_2;
                        }
                    }
                    &:focus,
                    &:hover {
                        background-color: $base_color;
                        color: #fff;
                    }
                }
            }

            .dropdown {
                &:hover {
                    >.dropdown-item {
                        color: #111;
                    }

                    >.dropdown-menu {
                        @media (min-width: 991px) {
                            opacity: 1;
                            visibility: visible;
                            margin-top: 0px;
                        }
                    }
                }

                .dropdown-toggle {
                    &::after {
                        display: none;
                    }
                }


                .dropdown {
                    .dropdown-toggle {
                        &::after {
                            display: inline-block;
                            content: "\e649";
                            border-top: transparent;
                            font-family: 'themify';
                            vertical-align: middle;
                            float: right;
                            font-size: 12px;
                            color: $heading_color;
                            border: 0 solid transparent;
                            @include transform_time(.3s);
                            position: absolute;
                            right: 25px;
                            top: 50%;
                            transform: translateY(-50%);
                            @media #{$tab} {
                                display: inline-block;
                                transform: rotate(0);
                            }
                        }
                        &:focus,
                        &:hover {
                            background-color: $base_color;
                            color: #fff;
                            &::after {
                                color: $white;
                            }
                        }
                    }
                }
                .dropdown-toggle {
                    &.active_icon {
                        &::after {
                            @media #{$tab} {
                                transform: rotate(180deg) !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .sticky_logo {
        display: none;
    }

    &.dark {
        .header_right_option {
            i {
                color: $heading_color;
            }
        }

        .navbar .nav-link {
            color: $heading_color;
            &:hover{
                color: $base_color;
            }
            @media #{$tab} {
                color: $heading_color;
            }
        }
        .nav-item{
            &:hover{
                .nav-link {
                    color: $base_color;
                }
            }
        }
        .navbar .dropdown .dropdown-toggle::after {
            color: $heading_color;
        }

        .navbar-toggler .icon-bar {
            background-color: #111;
        }
    }
    &.cy_menu_color_02{
        .navbar .nav-link {
            color: $heading_color;
            &:hover{
                color: #ffde28;
            }
        }
        .nav-item{
            &:hover{
                .nav-link {
                    color: #ffde28;
                }
            }
        }
        .navbar {
            .dropdown-menu {
                .dropdown-item {
                    &.current {
                        color: #ffde28;
                    }
                    &:focus,
                    &:hover {
                        background-color: #ffde28;
                    }
                }
            }
        }
        .header_right_option .cart_option {
            .cart_content {
                background-color: #ffde28;
            }
            .cart_icon.white_img {
                -webkit-filter: brightness(1) invert(0);
                filter: brightness(1) invert(0);
            }
            .cart_count{
                color: $heading_color;
            }
        }
       
    }
    .header_right_option .burger_icon {
        color: #111;
    }
    &.menu_fixed {
        background-color: #fff;
        box-shadow: 0 9px 35px rgba(0, 0, 0, 0.05);
        position: fixed;
        z-index: 99;
        width: 100%;
        left: 0;
        border-bottom: 0 solid transparent;
        top: 0;
        
        .navbar .nav-link {
            color: $heading_color;
        }
        .menu-trigger.style_2 .dot_icon .dot {
            background: $heading_color;
        }

        .sticky_logo {
            display: block;
        }

        .main_logo {
            display: none;
        }

        .navbar .dropdown .dropdown-toggle::after {
            color: $heading_color;
        }
        .cart_icon {
            color: $heading_color;
        }
        @media (min-width: 1200px) {
            .navbar .nav-link {
                display: inline-block;
                margin: 27px 30px;
            }
        }

        .search_icon i {
            color: $heading_color;
            font-weight: 700;
        }

        &.position_abs {
            position: fixed;
        }
        .social_icon a {
            color: $heading_color;
        }
        .white_color .burger_icon_top:before, .white_color .burger_icon_top:after, .white_color .burger_icon_bottom:before, .white_color .burger_icon_bottom:after {
            background: #111 !important;
        }
        .white_color .text-white {
            color: #111 !important;
        }
    }

    .search_icon {
        line-height: 1;
        cursor: pointer;

        i {
            color: $white;
        }
    }

    .cart_icon {
        color: $white;
        font-size: 20px;
    }

    .header_btn {
        margin-right: 30px;
        color: #fff;
        border: 2px solid rgba(255, 255, 255, .3);
        min-width: auto;
        padding: 14px 28px;
        @media #{$tab_device}{
            margin-right: 0;
            margin-left: 30px !important;
        }
        @media #{$medium_device}{
            margin-right: 0;
            margin-left: 30px !important;
        }
        &:hover {
            border: 2px solid #fff;
            background-color: $white;
            color: $heading_color;
        }
    }
    
}

.dropdown-item.active,
.dropdown-item:active {
    color: $heading_color;
    text-decoration: none;
    background-color: transparent;
}

/******** header css end *********/

/******** off canvus menu css *********/
.close_icon {
    cursor: pointer;
    position: relative;
    opacity: 1;
    visibility: visible;
    top: 0;
    right: 0;
}
.off_canvus_menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 260px;
    min-height: 100vh;
    z-index: 9;
    .off_canvus_menu_iner_logo {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 0 25px 0 30px;
        height: 80px;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        justify-content: space-between;
        background-color: $white;
    }

    .off_canvus_logo {
        max-width: 95px;
    }

    .navbar {
        padding: 20px 30px 100px;
        align-items: start;
    }

    .nav-link {
        color: $white;
        padding: 19px 0;
        font-size: 16px;
        text-transform: capitalize;
    }

    .navbar-nav {
        width: 100%;

    }

    .nav-item {
        border-bottom: 1px solid rgba($color: #fff, $alpha: .1);
        

        &:last-child {
            border-bottom: 0px solid transparent;
        }
    }

    .dropdown-menu {
        padding: 0;
        margin: 0;
        border-radius: 0;
        background-color: transparent;

        .dropdown-item {
            padding: 10px 0;
            font-size: 14px;
            color: rgba(255, 255, 255, .5);
            text-transform: capitalize;
            
            &.disable{
                color: rgba(255, 255, 255, .1);
            }
        }
    }

    .single_menu_list {
        margin-top: 30px;

        &:first-child {
            margin-top: 0;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        h5 {
            font-size: 13px;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: #fff;
        }
    }

    .dropdown-toggle {
        &::after {
            display: inline-block;
            content: "\e64b";
            font-family: 'themify';
            font-size: 8px;
            color: $white;
            border: 0 solid transparent;
            @include transform_time(.3s);
            margin-left: 7px;
            color: #fff;
            background: rgba(255, 255, 255, .1);
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            top: 12px;
            position: absolute;
            right: 0;
        }
    }

    .dropdown-item:focus,
    .dropdown-item:hover {
        background: rgba(255, 255, 255, .1);
        text-decoration: none;
        background-color: transparent;
    }

    .show> {
        .dropdown-toggle {
            &::after {
                content: "\e648";
            }
        }
    }

    .active_icon {
        &::after {
            content: "\e648";
        }
    }
}
/******** off canvus menu css end *********/

//trigger menu icon
.canvus_menu_padding {
    padding-top: 40px;
    padding-bottom: 40px;

    @media #{$tab} {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.offcanvas_overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $heading_color, $alpha: .7);
    z-index: 9;
    opacity: 1;
    visibility: hidden;
    cursor: url('../img/light-close.png') 16 16,pointer;
}

.active_off_canvus {
    overflow: hidden;
    .offcanvas_overlay {
        opacity: 1;
        visibility: visible;
    }
}

.off_canvus_menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 360px;
    height: 100%;
    z-index: 999999;
    visibility: hidden;
    opacity: 0;
    @media #{$xs_mobile}{
        width: 90%;
    }
    .off_canvus_menu_iner{
        transform: translateX(100%);
        position: relative;
        height: 100%;
        text-align: left;
        padding-top: 80px;
        cursor: default;
        width: 360px;
        transition: transform .25s cubic-bezier(.645,.045,.355,1);
        background-color: #111;
        @media #{$xs_mobile}{
            width: 100%;
        }
    }
    .dropdown-menu {
        border: 1px solid transparent ;
    }
}
.off_canvus_menu_iner_logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 0 15px 0 30px;
    height: 80px;
    align-items: center;
}
.off_canvus_menu_iner_content{
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    height: calc(100vh - 80px);
}

.active_off_canvus .off_canvus_menu {
    visibility: visible;
    opacity: 1;
}
.active_off_canvus .off_canvus_menu>.off_canvus_menu_iner {
    transform: translateX(0);
}
.active_off_canvus .cy_site_page {
    transform: translateX(-345px);
} 

.cy_collaps_menu_icon .burger_icon_top,
.cy_collaps_menu_icon .burger_icon_bottom {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: -webkit-transform .6s cubic-bezier(.165, .84, .44, 1);
    transition: -webkit-transform .6s cubic-bezier(.165, .84, .44, 1);
    transition: transform .6s cubic-bezier(.165, .84, .44, 1);
    transition: transform .6s cubic-bezier(.165, .84, .44, 1), -webkit-transform .6s cubic-bezier(.165, .84, .44, 1)
}

.cy_collaps_menu_icon .burger_icon_top:before,
.cy_collaps_menu_icon .burger_icon_top:after,
.cy_collaps_menu_icon .burger_icon_bottom:before,
.cy_collaps_menu_icon .burger_icon_bottom:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: currentColor;
    opacity: .99
}

.cy_collaps_menu_icon .burger_icon_top:before,
.cy_collaps_menu_icon .burger_icon_bottom:before {
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    -webkit-transform: scaleX(1) translateZ(0);
    transform: scaleX(1) translateZ(0);
    -webkit-transition: -webkit-transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
    transition: -webkit-transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
    transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
    transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s, -webkit-transform .6s cubic-bezier(.165, .84, .44, 1) .2s
}

.cy_collaps_menu_icon .burger_icon_top:after,
.cy_collaps_menu_icon .burger_icon_bottom:after {
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transform: scaleX(0) translateZ(0);
    transform: scaleX(0) translateZ(0);
    -webkit-transition: -webkit-transform .6s cubic-bezier(.165, .84, .44, 1);
    transition: -webkit-transform .6s cubic-bezier(.165, .84, .44, 1);
    transition: transform .6s cubic-bezier(.165, .84, .44, 1);
    transition: transform .6s cubic-bezier(.165, .84, .44, 1), -webkit-transform .6s cubic-bezier(.165, .84, .44, 1)
}

.cy_collaps_menu_icon .burger_icon_top {
    top: 0
}

.cy_collaps_menu_icon .burger_icon_bottom {
    bottom: 0
}

.cy_collaps_menu_icon .burger_icon_bottom:before {
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left
}

.cy_collaps_menu_icon .burger_icon_bottom:after {
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right
}

.cy_collaps_menu_icon:hover .burger_icon_top:before,
.cy_collaps_menu_icon:hover .burger_icon_bottom:before {
    -webkit-transform: scaleX(0) translateZ(0);
    transform: scaleX(0) translateZ(0);
    transition: -webkit-transform .6s cubic-bezier(.165, .84, .44, 1);
    -webkit-transition: -webkit-transform .6s cubic-bezier(.165, .84, .44, 1);
    transition: transform .6s cubic-bezier(.165, .84, .44, 1);
    transition: transform .6s cubic-bezier(.165, .84, .44, 1), -webkit-transform .6s cubic-bezier(.165, .84, .44, 1)
}

.cy_collaps_menu_icon:hover .burger_icon_top:after,
.cy_collaps_menu_icon:hover .burger_icon_bottom:after {
    -webkit-transform: scaleX(1) translateZ(0);
    transform: scaleX(1) translateZ(0);
    transition: -webkit-transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
    -webkit-transition: -webkit-transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
    transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
    transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s, -webkit-transform .6s cubic-bezier(.165, .84, .44, 1) .2s
}

