.dl_color-theme-demos{
    color: #000;
    position: fixed;
    top: 0;
    right: -270px;
    width: 270px;
    background-color: #fff;
    z-index: 999;
    height: 100%;
    visibility: visible;
    .dl_skin-body{
        height: 100%;
        position: relative;
        overflow: hidden;
        .dl_skin-wrap{
            height: 100%;
            position: absolute;
            overflow-y: scroll;
            width: 270px;
            z-index: 1;
            padding: 36px 10px 60px;
            overflow-x: hidden;
        }
    }
    &.active{
        box-shadow: -3px 0px 10px 0px rgba(26, 38, 74, 0.15);
    }
}
.dl_setting_icon{
    background: #fff none repeat scroll 0 0;
    color: #fff;
    font-size: 24px;
    right: 100%;
    position: absolute;
    width: 50px;
    top: 110px;
    text-align: center;
    box-shadow: -3px 0px 10px 0px rgba(26, 38, 74, 0.15);
    padding: 15px 0;
    border-radius: 10px 0 0 10px;
    .dl_tooltip_bounce{
        width: 100%;
    }
    i{
        color: #111;
        font-size: 16px;
    }
}

.dl_sw-demo{
    .dl_set-theme-style{
        float: left;
        padding: 10px;
        width: 50%;
        a{
            box-shadow: 0 7px 20px rgba(0,0,0,.1);
            text-transform: capitalize;
        }
        img{
            border-radius: 5px;
        }
    }
}
.skin_wrap_title{
    text-align: center;
    margin-bottom: 25px;
    .cu_btn{
        margin-top: 15px;
    }
}